
body {
  background-color: #D3D3D3;
}
#header {
  background: linear-gradient(45deg, #0000FF, #008000);
  border-radius: 50px;
}
#header a:hover {
	color: white;
}
#header a {
	color: black;
}
#nav {
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	padding-right: 40px;
}
button {
	color:green;
	border-radius: 20px;
}
#Umfangstyle, #bohrerd, #gewinde {
	background-color: #4682B4;
}
#Gradstyle, #Materialeingabe {
	background-color: #FFA07A;
}
#Anzeige, #bohrerdrehzahlanzeige, #kernlochanzeige {
	background-color:  #00FA9A;
  font-size: 20px;
}
input {
	background-color: #ffffff;
	height: 25px;
}
#Umfangstyle, #Gradstyle, #Anzeige, #bohrerd, #Materialeingabe, #bohrerdrehzahlanzeige,
#gewinde, #kernlochanzeige {
   padding-left: 10px;
	 padding-top: 5px;
	 padding-bottom: 5px;
	 padding-right: 10px;
}
